# A PANDAS INTRODUCTION

This introduction is useful to understand the most used idea and commands of the Pandas library. 
This library is built on Numpy and can accelerate a lot of classical operations due to this structure.
We will start from some theory about series and dataframes and will dive into our practical example, the Pokemon Dataset from Kaggle as an example. https://www.kaggle.com/rounakbanik/pokemon .

First load the library and see the version:

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.1.1'

We use the keyword __as__ to rename the library. Note that it's useful for calling it later. In fact, in Python, each module in a library has to be called explicitely from its library.
The same concept of environment of __R__ is not present in __Python__.

## 1. Pandas Objects

What made Pandas one of the most useful package in Python is that is built on Numpy. For this reason we have a lot of gains from a computational point of view.

Built on the numpy array we have three basic structures:
- Series
- DataFrame
- Index

### 1.1 Series

To create a series we use an input a list:

In [3]:
data = pd.Series([0.33, 20, 221, 233])
print(data)

0      0.33
1     20.00
2    221.00
3    233.00
dtype: float64

We see that a Series wraps both a part of values and a part of indeces. The index is a way to access to the values of the Series.

In [4]:
data[2]

221.0

We can access to the index array and the values array in this way:

In [11]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [12]:
data.values

array([  0.33,  20.  , 221.  , 233.  ])

A Series object is more general than a Numpy array because we can use as index also other values than integer:

In [13]:
data = pd.Series([0.33, 20, 221, 233], index = ["a", "b", "c", "d"])
print(data)

a      0.33
b     20.00
c    221.00
d    233.00
dtype: float64

In [15]:
print(data["c"])
print(data[2])

221.0
221.0

### 1.2 DataFrame

We can think a dataframe as a set of series, where each column is a series object with a shared index.

We can also see the dataframe as dictionary where the index is the key and the row is the value associated with.
We will see how to deal with it next.

### 1.3 Index

The index can be thought as an immutable array or as an ordered set. Let's see why.

In [5]:
ind = pd.Index([2,3,5,7,11])

In [6]:
ind[1]

3

In [7]:
ind[1] = 2

TypeError: Index does not support mutable operations

Let's see a practical example to better understand what is a Pandas dataframe and hot to deal with it.

## 2. A practical example: Loading data into Pandas and a data exploration:

__Import__ the dataset from a __CSV__:

Use the path where you have your csv. We use <code> pd.read_csv </code> to read a csv.

In [8]:
df = pd.read_csv('pokemonData.csv')

To see the dimensions:

In [9]:
df.shape

(800, 12)

So we have 800 rows and 12 columns.

To see the first 5 rows:

In [10]:
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

We can change the number in the brakects to see more or less rows.

In [11]:
df.head(7)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False

To see last 2 rows:

In [12]:
df.tail(2)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

For general infos on the null values and the columns names and types we can use the __info()__ method:

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB

To only see the types:

In [ ]:
df.dtypes

In this case we have some integer value columns (int64), some string value columns (object) and a boolean value column (bool).

To have some basic statistics of the numerical columns:

In [8]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

Let's try to load the same file from an __excel file__ with <code> pd.read_excel </code>:

In [9]:
df_xlsx = pd.read_excel('pokemonData.xlsx')
df_xlsx.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

For reading from a __txt file__ with <code> pd.read_csv </code> but changing the delimiter:

In [10]:
dftxt = pd.read_csv('pokemonData.txt', delimiter='\t')
dftxt.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

To remove a variable or a dataset:

In [11]:
del df_xlsx["Attack"]

In [11]:
del df_xlsx, dftxt

## Manipulation and Modification of the Data in Pandas

If we want to see the column names:

In [12]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

To access a column:

In [14]:
df["Name"]

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

and for multiple columns:

In [14]:
df[['Name', 'Type 1', 'HP']]

                      Name   Type 1  HP
0                Bulbasaur    Grass  45
1                  Ivysaur    Grass  60
2                 Venusaur    Grass  80
3    VenusaurMega Venusaur    Grass  80
4               Charmander     Fire  39
..                     ...      ...  ..
795                Diancie     Rock  50
796    DiancieMega Diancie     Rock  50
797    HoopaHoopa Confined  Psychic  80
798     HoopaHoopa Unbound  Psychic  80
799              Volcanion     Fire  80

[800 rows x 3 columns]

In __Python__ w.r.t. __R__ the row index is very important and used. We can set the index and see the values:

We can rename the columns:

In [24]:
df.rename(columns = {"Type 1": "New Type 1", "Type 2": "New Type 2"})

,#,New Type 1,New Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,45,49,49,65,65,45,1,False,274
Ivysaur,2,Grass,Poison,60,62,63,80,80,60,1,False,346
Venusaur,3,Grass,Poison,80,82,83,100,100,80,1,False,446
VenusaurMega Venusaur,3,Grass,Poison,80,100,123,122,120,80,1,False,546
Charmander,4,Fire,NaN,39,52,43,60,50,65,1,False,271
...,...,...,...,...,...,...,...,...,...,...,...,...
Diancie,719,Rock,Fairy,50,100,150,100,150,50,6,True,556
DiancieMega Diancie,719,Rock,Fairy,50,160,110,160,110,110,6,True,656
HoopaHoopa Confined,720,Psychic,Ghost,80,110,60,150,130,70,6,True,526
HoopaHoopa Unbound,720,Psychic,Dark,80,160,60,170,130,80,6,True,606
Volcanion,721,Fire,Water,80,110,120,130,90,70,6,True,526

Sometimes we could want to change the index. For doing that we can use <code>set_index</code>. If we add <code>inplace = True</code>, we are saying to do it directly on the dataframe without any copy.

In [12]:
df.set_index("Name", inplace = True)
df.index.values

array(['Bulbasaur', 'Ivysaur', 'Venusaur', 'VenusaurMega Venusaur',
       'Charmander', 'Charmeleon', 'Charizard',
       'CharizardMega Charizard X', 'CharizardMega Charizard Y',
       'Squirtle', 'Wartortle', 'Blastoise', 'BlastoiseMega Blastoise',
       'Caterpie', 'Metapod', 'Butterfree', 'Weedle', 'Kakuna',
       'Beedrill', 'BeedrillMega Beedrill', 'Pidgey', 'Pidgeotto',
       'Pidgeot', 'PidgeotMega Pidgeot', 'Rattata', 'Raticate', 'Spearow',
       'Fearow', 'Ekans', 'Arbok', 'Pikachu', 'Raichu', 'Sandshrew',
       'Sandslash', 'Nidoran (Female)', 'Nidorina', 'Nidoqueen',
       'Nidoran (Male)', 'Nidorino', 'Nidoking', 'Clefairy', 'Clefable',
       'Vulpix', 'Ninetales', 'Jigglypuff', 'Wigglytuff', 'Zubat',
       'Golbat', 'Oddish', 'Gloom', 'Vileplume', 'Paras', 'Parasect',
       'Venonat', 'Venomoth', 'Diglett', 'Dugtrio', 'Meowth', 'Persian',
       'Psyduck', 'Golduck', 'Mankey', 'Primeape', 'Growlithe',
       'Arcanine', 'Poliwag', 'Poliwhirl', 'Poliwrath', 'Abra', 'Kadabra',
       'Alakazam', 'AlakazamMega Alakazam', 'Machop', 'Machoke',
       'Machamp', 'Bellsprout', 'Weepinbell', 'Victreebel', 'Tentacool',
       'Tentacruel', 'Geodude', 'Graveler', 'Golem', 'Ponyta', 'Rapidash',
       'Slowpoke', 'Slowbro', 'SlowbroMega Slowbro', 'Magnemite',
       'Magneton', "Farfetch'd", 'Doduo', 'Dodrio', 'Seel', 'Dewgong',
       'Grimer', 'Muk', 'Shellder', 'Cloyster', 'Gastly', 'Haunter',
       'Gengar', 'GengarMega Gengar', 'Onix', 'Drowzee', 'Hypno',
       'Krabby', 'Kingler', 'Voltorb', 'Electrode', 'Exeggcute',
       'Exeggutor', 'Cubone', 'Marowak', 'Hitmonlee', 'Hitmonchan',
       'Lickitung', 'Koffing', 'Weezing', 'Rhyhorn', 'Rhydon', 'Chansey',
       'Tangela', 'Kangaskhan', 'KangaskhanMega Kangaskhan', 'Horsea',
       'Seadra', 'Goldeen', 'Seaking', 'Staryu', 'Starmie', 'Mr. Mime',
       'Scyther', 'Jynx', 'Electabuzz', 'Magmar', 'Pinsir',
       'PinsirMega Pinsir', 'Tauros', 'Magikarp', 'Gyarados',
       'GyaradosMega Gyarados', 'Lapras', 'Ditto', 'Eevee', 'Vaporeon',
       'Jolteon', 'Flareon', 'Porygon', 'Omanyte', 'Omastar', 'Kabuto',
       'Kabutops', 'Aerodactyl', 'AerodactylMega Aerodactyl', 'Snorlax',
       'Articuno', 'Zapdos', 'Moltres', 'Dratini', 'Dragonair',
       'Dragonite', 'Mewtwo', 'MewtwoMega Mewtwo X',
       'MewtwoMega Mewtwo Y', 'Mew', 'Chikorita', 'Bayleef', 'Meganium',
       'Cyndaquil', 'Quilava', 'Typhlosion', 'Totodile', 'Croconaw',
       'Feraligatr', 'Sentret', 'Furret', 'Hoothoot', 'Noctowl', 'Ledyba',
       'Ledian', 'Spinarak', 'Ariados', 'Crobat', 'Chinchou', 'Lanturn',
       'Pichu', 'Cleffa', 'Igglybuff', 'Togepi', 'Togetic', 'Natu',
       'Xatu', 'Mareep', 'Flaaffy', 'Ampharos', 'AmpharosMega Ampharos',
       'Bellossom', 'Marill', 'Azumarill', 'Sudowoodo', 'Politoed',
       'Hoppip', 'Skiploom', 'Jumpluff', 'Aipom', 'Sunkern', 'Sunflora',
       'Yanma', 'Wooper', 'Quagsire', 'Espeon', 'Umbreon', 'Murkrow',
       'Slowking', 'Misdreavus', 'Unown', 'Wobbuffet', 'Girafarig',
       'Pineco', 'Forretress', 'Dunsparce', 'Gligar', 'Steelix',
       'SteelixMega Steelix', 'Snubbull', 'Granbull', 'Qwilfish',
       'Scizor', 'ScizorMega Scizor', 'Shuckle', 'Heracross',
       'HeracrossMega Heracross', 'Sneasel', 'Teddiursa', 'Ursaring',
       'Slugma', 'Magcargo', 'Swinub', 'Piloswine', 'Corsola', 'Remoraid',
       'Octillery', 'Delibird', 'Mantine', 'Skarmory', 'Houndour',
       'Houndoom', 'HoundoomMega Houndoom', 'Kingdra', 'Phanpy',
       'Donphan', 'Porygon2', 'Stantler', 'Smeargle', 'Tyrogue',
       'Hitmontop', 'Smoochum', 'Elekid', 'Magby', 'Miltank', 'Blissey',
       'Raikou', 'Entei', 'Suicune', 'Larvitar', 'Pupitar', 'Tyranitar',
       'TyranitarMega Tyranitar', 'Lugia', 'Ho-oh', 'Celebi', 'Treecko',
       'Grovyle', 'Sceptile', 'SceptileMega Sceptile', 'Torchic',
       'Combusken', 'Blaziken', 'BlazikenMega Blaziken', 'Mudkip',
       'Marshtomp', 'Swampert', 'SwampertMega Swampert', 'Poochyena',
       'Mightyena', 'Zigzagoon', 'Linoone', 'Wurmple', 'Silcoon',
       'Beautifly', 'Cascoon', 'Dustox', 'Lotad', 'Lombre', 'Ludicolo',
       'Seedot', 'Nuzleaf', 'Shiftry', 'Taillow', 'Swellow', 'Wingull',
       'Pelipper', 'Ralts', 'Kirlia', 'Gardevoir',
       'GardevoirMega Gardevoir', 'Surskit', 'Masquerain', 'Shroomish',
       'Breloom', 'Slakoth', 'Vigoroth', 'Slaking', 'Nincada', 'Ninjask',
       'Shedinja', 'Whismur', 'Loudred', 'Exploud', 'Makuhita',
       'Hariyama', 'Azurill', 'Nosepass', 'Skitty', 'Delcatty', 'Sableye',
       'SableyeMega Sableye', 'Mawile', 'MawileMega Mawile', 'Aron',
       'Lairon', 'Aggron', 'AggronMega Aggron', 'Meditite', 'Medicham',
       'MedichamMega Medicham', 'Electrike', 'Manectric',
       'ManectricMega Manectric', 'Plusle', 'Minun', 'Volbeat',
       'Illumise', 'Roselia', 'Gulpin', 'Swalot', 'Carvanha', 'Sharpedo',
       'SharpedoMega Sharpedo', 'Wailmer', 'Wailord', 'Numel', 'Camerupt',
       'CameruptMega Camerupt', 'Torkoal', 'Spoink', 'Grumpig', 'Spinda',
       'Trapinch', 'Vibrava', 'Flygon', 'Cacnea', 'Cacturne', 'Swablu',
       'Altaria', 'AltariaMega Altaria', 'Zangoose', 'Seviper',
       'Lunatone', 'Solrock', 'Barboach', 'Whiscash', 'Corphish',
       'Crawdaunt', 'Baltoy', 'Claydol', 'Lileep', 'Cradily', 'Anorith',
       'Armaldo', 'Feebas', 'Milotic', 'Castform', 'Kecleon', 'Shuppet',
       'Banette', 'BanetteMega Banette', 'Duskull', 'Dusclops', 'Tropius',
       'Chimecho', 'Absol', 'AbsolMega Absol', 'Wynaut', 'Snorunt',
       'Glalie', 'GlalieMega Glalie', 'Spheal', 'Sealeo', 'Walrein',
       'Clamperl', 'Huntail', 'Gorebyss', 'Relicanth', 'Luvdisc', 'Bagon',
       'Shelgon', 'Salamence', 'SalamenceMega Salamence', 'Beldum',
       'Metang', 'Metagross', 'MetagrossMega Metagross', 'Regirock',
       'Regice', 'Registeel', 'Latias', 'LatiasMega Latias', 'Latios',
       'LatiosMega Latios', 'Kyogre', 'KyogrePrimal Kyogre', 'Groudon',
       'GroudonPrimal Groudon', 'Rayquaza', 'RayquazaMega Rayquaza',
       'Jirachi', 'DeoxysNormal Forme', 'DeoxysAttack Forme',
       'DeoxysDefense Forme', 'DeoxysSpeed Forme', 'Turtwig', 'Grotle',
       'Torterra', 'Chimchar', 'Monferno', 'Infernape', 'Piplup',
       'Prinplup', 'Empoleon', 'Starly', 'Staravia', 'Staraptor',
       'Bidoof', 'Bibarel', 'Kricketot', 'Kricketune', 'Shinx', 'Luxio',
       'Luxray', 'Budew', 'Roserade', 'Cranidos', 'Rampardos', 'Shieldon',
       'Bastiodon', 'Burmy', 'WormadamPlant Cloak', 'WormadamSandy Cloak',
       'WormadamTrash Cloak', 'Mothim', 'Combee', 'Vespiquen',
       'Pachirisu', 'Buizel', 'Floatzel', 'Cherubi', 'Cherrim', 'Shellos',
       'Gastrodon', 'Ambipom', 'Drifloon', 'Drifblim', 'Buneary',
       'Lopunny', 'LopunnyMega Lopunny', 'Mismagius', 'Honchkrow',
       'Glameow', 'Purugly', 'Chingling', 'Stunky', 'Skuntank', 'Bronzor',
       'Bronzong', 'Bonsly', 'Mime Jr.', 'Happiny', 'Chatot', 'Spiritomb',
       'Gible', 'Gabite', 'Garchomp', 'GarchompMega Garchomp', 'Munchlax',
       'Riolu', 'Lucario', 'LucarioMega Lucario', 'Hippopotas',
       'Hippowdon', 'Skorupi', 'Drapion', 'Croagunk', 'Toxicroak',
       'Carnivine', 'Finneon', 'Lumineon', 'Mantyke', 'Snover',
       'Abomasnow', 'AbomasnowMega Abomasnow', 'Weavile', 'Magnezone',
       'Lickilicky', 'Rhyperior', 'Tangrowth', 'Electivire', 'Magmortar',
       'Togekiss', 'Yanmega', 'Leafeon', 'Glaceon', 'Gliscor',
       'Mamoswine', 'Porygon-Z', 'Gallade', 'GalladeMega Gallade',
       'Probopass', 'Dusknoir', 'Froslass', 'Rotom', 'RotomHeat Rotom',
       'RotomWash Rotom', 'RotomFrost Rotom', 'RotomFan Rotom',
       'RotomMow Rotom', 'Uxie', 'Mesprit', 'Azelf', 'Dialga', 'Palkia',
       'Heatran', 'Regigigas', 'GiratinaAltered Forme',
       'GiratinaOrigin Forme', 'Cresselia', 'Phione', 'Manaphy',
       'Darkrai', 'ShayminLand Forme', 'ShayminSky Forme', 'Arceus',
       'Victini', 'Snivy', 'Servine', 'Serperior', 'Tepig', 'Pignite',
       'Emboar', 'Oshawott', 'Dewott', 'Samurott', 'Patrat', 'Watchog',
       'Lillipup', 'Herdier', 'Stoutland', 'Purrloin', 'Liepard',
       'Pansage', 'Simisage', 'Pansear', 'Simisear', 'Panpour',
       'Simipour', 'Munna', 'Musharna', 'Pidove', 'Tranquill', 'Unfezant',
       'Blitzle', 'Zebstrika', 'Roggenrola', 'Boldore', 'Gigalith',
       'Woobat', 'Swoobat', 'Drilbur', 'Excadrill', 'Audino',
       'AudinoMega Audino', 'Timburr', 'Gurdurr', 'Conkeldurr', 'Tympole',
       'Palpitoad', 'Seismitoad', 'Throh', 'Sawk', 'Sewaddle', 'Swadloon',
       'Leavanny', 'Venipede', 'Whirlipede', 'Scolipede', 'Cottonee',
       'Whimsicott', 'Petilil', 'Lilligant', 'Basculin', 'Sandile',
       'Krokorok', 'Krookodile', 'Darumaka', 'DarmanitanStandard Mode',
       'DarmanitanZen Mode', 'Maractus', 'Dwebble', 'Crustle', 'Scraggy',
       'Scrafty', 'Sigilyph', 'Yamask', 'Cofagrigus', 'Tirtouga',
       'Carracosta', 'Archen', 'Archeops', 'Trubbish', 'Garbodor',
       'Zorua', 'Zoroark', 'Minccino', 'Cinccino', 'Gothita', 'Gothorita',
       'Gothitelle', 'Solosis', 'Duosion', 'Reuniclus', 'Ducklett',
       'Swanna', 'Vanillite', 'Vanillish', 'Vanilluxe', 'Deerling',
       'Sawsbuck', 'Emolga', 'Karrablast', 'Escavalier', 'Foongus',
       'Amoonguss', 'Frillish', 'Jellicent', 'Alomomola', 'Joltik',
       'Galvantula', 'Ferroseed', 'Ferrothorn', 'Klink', 'Klang',
       'Klinklang', 'Tynamo', 'Eelektrik', 'Eelektross', 'Elgyem',
       'Beheeyem', 'Litwick', 'Lampent', 'Chandelure', 'Axew', 'Fraxure',
       'Haxorus', 'Cubchoo', 'Beartic', 'Cryogonal', 'Shelmet',
       'Accelgor', 'Stunfisk', 'Mienfoo', 'Mienshao', 'Druddigon',
       'Golett', 'Golurk', 'Pawniard', 'Bisharp', 'Bouffalant', 'Rufflet',
       'Braviary', 'Vullaby', 'Mandibuzz', 'Heatmor', 'Durant', 'Deino',
       'Zweilous', 'Hydreigon', 'Larvesta', 'Volcarona', 'Cobalion',
       'Terrakion', 'Virizion', 'TornadusIncarnate Forme',
       'TornadusTherian Forme', 'ThundurusIncarnate Forme',
       'ThundurusTherian Forme', 'Reshiram', 'Zekrom',
       'LandorusIncarnate Forme', 'LandorusTherian Forme', 'Kyurem',
       'KyuremBlack Kyurem', 'KyuremWhite Kyurem', 'KeldeoOrdinary Forme',
       'KeldeoResolute Forme', 'MeloettaAria Forme',
       'MeloettaPirouette Forme', 'Genesect', 'Chespin', 'Quilladin',
       'Chesnaught', 'Fennekin', 'Braixen', 'Delphox', 'Froakie',
       'Frogadier', 'Greninja', 'Bunnelby', 'Diggersby', 'Fletchling',
       'Fletchinder', 'Talonflame', 'Scatterbug', 'Spewpa', 'Vivillon',
       'Litleo', 'Pyroar', 'Flabébé', 'Floette', 'Florges', 'Skiddo',
       'Gogoat', 'Pancham', 'Pangoro', 'Furfrou', 'Espurr',
       'MeowsticMale', 'MeowsticFemale', 'Honedge', 'Doublade',
       'AegislashBlade Forme', 'AegislashShield Forme', 'Spritzee',
       'Aromatisse', 'Swirlix', 'Slurpuff', 'Inkay', 'Malamar', 'Binacle',
       'Barbaracle', 'Skrelp', 'Dragalge', 'Clauncher', 'Clawitzer',
       'Helioptile', 'Heliolisk', 'Tyrunt', 'Tyrantrum', 'Amaura',
       'Aurorus', 'Sylveon', 'Hawlucha', 'Dedenne', 'Carbink', 'Goomy',
       'Sliggoo', 'Goodra', 'Klefki', 'Phantump', 'Trevenant',
       'PumpkabooAverage Size', 'PumpkabooSmall Size',
       'PumpkabooLarge Size', 'PumpkabooSuper Size',
       'GourgeistAverage Size', 'GourgeistSmall Size',
       'GourgeistLarge Size', 'GourgeistSuper Size', 'Bergmite',
       'Avalugg', 'Noibat', 'Noivern', 'Xerneas', 'Yveltal',
       'Zygarde50% Forme', 'Diancie', 'DiancieMega Diancie',
       'HoopaHoopa Confined', 'HoopaHoopa Unbound', 'Volcanion'],
      dtype=object)

And for resetting the columns values:

In [15]:
df.reset_index(inplace = True)
df.index.values

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441,
       442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454,
       455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467,
       468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480,
       481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493,
       494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506,
       507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519,
       520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532,
       533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545,
       546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558,
       559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571,
       572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584,
       585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597,
       598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610,
       611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623,
       624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636,
       637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649,
       650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662,
       663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675,
       676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688,
       689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701,
       702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714,
       715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727,
       728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740,
       741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753,
       754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766,
       767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779,
       780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792,
       793, 794, 795, 796, 797, 798, 799], dtype=int64)

Maybe we are interested in the unique values of a column:

In [16]:
df["Type 1"].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

For accessing the different values in the dataframe we have two methods: __iloc()__ and __loc()__.

The __iloc()__ method see the dataframe as a matrix and so you can access to the cell contents using coordinates:

In [17]:
df.iloc[0:4]

,index,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False

The __loc()__ method can access by columns name and index:

In [21]:
df.loc[1,"Type 1"]

'Grass'

Pay attention: in this case <code>1</code> is not indicating the second element in the dataset but the element with <code>1</code> as index.

To iterate over the rows:

In [22]:
for index, row in df.iterrows():
    print(index, row['Name'])
    print("NewRow")

0 Bulbasaur
NewRow
1 Ivysaur
NewRow
2 Venusaur
NewRow
3 VenusaurMega Venusaur
NewRow
4 Charmander
NewRow
5 Charmeleon
NewRow
6 Charizard
NewRow
7 CharizardMega Charizard X
NewRow
8 CharizardMega Charizard Y
NewRow
9 Squirtle
NewRow
10 Wartortle
NewRow
11 Blastoise
NewRow
12 BlastoiseMega Blastoise
NewRow
13 Caterpie
NewRow
14 Metapod
NewRow
15 Butterfree
NewRow
16 Weedle
NewRow
17 Kakuna
NewRow
18 Beedrill
NewRow
19 BeedrillMega Beedrill
NewRow
20 Pidgey
NewRow
21 Pidgeotto
NewRow
22 Pidgeot
NewRow
23 PidgeotMega Pidgeot
NewRow
24 Rattata
NewRow
25 Raticate
NewRow
26 Spearow
NewRow
27 Fearow
NewRow
28 Ekans
NewRow
29 Arbok
NewRow
30 Pikachu
NewRow
31 Raichu
NewRow
32 Sandshrew
NewRow
33 Sandslash
NewRow
34 Nidoran (Female)
NewRow
35 Nidorina
NewRow
36 Nidoqueen
NewRow
37 Nidoran (Male)
NewRow
38 Nidorino
NewRow
39 Nidoking
NewRow
40 Clefairy
NewRow
41 Clefable
NewRow
42 Vulpix
NewRow
43 Ninetales
NewRow
44 Jigglypuff
NewRow
45 Wigglytuff
NewRow
46 Zubat
NewRow
47 Golbat
NewRow
48 Oddish
NewRow
49 Gloom
NewRow
50 Vileplume
NewRow
51 Paras
NewRow
52 Parasect
NewRow
53 Venonat
NewRow
54 Venomoth
NewRow
55 Diglett
NewRow
56 Dugtrio
NewRow
57 Meowth
NewRow
58 Persian
NewRow
59 Psyduck
NewRow
60 Golduck
NewRow
61 Mankey
NewRow
62 Primeape
NewRow
63 Growlithe
NewRow
64 Arcanine
NewRow
65 Poliwag
NewRow
66 Poliwhirl
NewRow
67 Poliwrath
NewRow
68 Abra
NewRow
69 Kadabra
NewRow
70 Alakazam
NewRow
71 AlakazamMega Alakazam
NewRow
72 Machop
NewRow
73 Machoke
NewRow
74 Machamp
NewRow
75 Bellsprout
NewRow
76 Weepinbell
NewRow
77 Victreebel
NewRow
78 Tentacool
NewRow
79 Tentacruel
NewRow
80 Geodude
NewRow
81 Graveler
NewRow
82 Golem
NewRow
83 Ponyta
NewRow
84 Rapidash
NewRow
85 Slowpoke
NewRow
86 Slowbro
NewRow
87 SlowbroMega Slowbro
NewRow
88 Magnemite
NewRow
89 Magneton
NewRow
90 Farfetch'd
NewRow
91 Doduo
NewRow
92 Dodrio
NewRow
93 Seel
NewRow
94 Dewgong
NewRow
95 Grimer
NewRow
96 Muk
NewRow
97 Shellder
NewRow
98 Cloyster
NewRow
99 Gastly
NewRow
100 Haunter
NewRow
101 Gengar
NewRow
102 GengarMega Gengar
NewRow
103 Onix
NewRow
104 Drowzee
NewRow
105 Hypno
NewRow
106 Krabby
NewRow
107 Kingler
NewRow
108 Voltorb
NewRow
109 Electrode
NewRow
110 Exeggcute
NewRow
111 Exeggutor
NewRow
112 Cubone
NewRow
113 Marowak
NewRow
114 Hitmonlee
NewRow
115 Hitmonchan
NewRow
116 Lickitung
NewRow
117 Koffing
NewRow
118 Weezing
NewRow
119 Rhyhorn
NewRow
120 Rhydon
NewRow
121 Chansey
NewRow
122 Tangela
NewRow
123 Kangaskhan
NewRow
124 KangaskhanMega Kangaskhan
NewRow
125 Horsea
NewRow
126 Seadra
NewRow
127 Goldeen
NewRow
128 Seaking
NewRow
129 Staryu
NewRow
130 Starmie
NewRow
131 Mr. Mime
NewRow
132 Scyther
NewRow
133 Jynx
NewRow
134 Electabuzz
NewRow
135 Magmar
NewRow
136 Pinsir
NewRow
137 PinsirMega Pinsir
NewRow
138 Tauros
NewRow
139 Magikarp
NewRow
140 Gyarados
NewRow
141 GyaradosMega Gyarados
NewRow
142 Lapras
NewRow
143 Ditto
NewRow
144 Eevee
NewRow
145 Vaporeon
NewRow
146 Jolteon
NewRow
147 Flareon
NewRow
148 Porygon
NewRow
149 Omanyte
NewRow
150 Omastar
NewRow
151 Kabuto
NewRow
152 Kabutops
NewRow
153 Aerodactyl
NewRow
154 AerodactylMega Aerodactyl
NewRow
155 Snorlax
NewRow
156 Articuno
NewRow
157 Zapdos
NewRow
158 Moltres
NewRow
159 Dratini
NewRow
160 Dragonair
NewRow
161 Dragonite
NewRow
162 Mewtwo
NewRow
163 MewtwoMega Mewtwo X
NewRow
164 MewtwoMega Mewtwo Y
NewRow
165 Mew
NewRow
166 Chikorita
NewRow
167 Bayleef
NewRow
168 Meganium
NewRow
169 Cyndaquil
NewRow
170 Quilava
NewRow
171 Typhlosion
NewRow
172 Totodile
NewRow
173 Croconaw
NewRow
174 Feraligatr
NewRow
175 Sentret
NewRow
176 Furret
NewRow
177 Hoothoot
NewRow
178 Noctowl
NewRow
179 Ledyba
NewRow
180 Ledian
NewRow
181 Spinarak
NewRow
182 Ariados
NewRow
183 Crobat
NewRow
184 Chinchou
NewRow
185 Lanturn
NewRow
186 Pichu
NewRow
187 Cleffa
NewRow
188 Igglybuff
NewRow
189 Togepi
NewRow
190 Togetic
NewRow
191 Natu
NewRow
192 Xatu
NewRow
193 Mareep
NewRow
194 Flaaffy
NewRow
195 Ampharos
NewRow
196 AmpharosMega Ampharos
NewRow
197 Bellossom
NewRow
198 Marill
NewRow
199 Azumarill
NewRow
200 Sudowoodo
NewRow
201 Politoed
NewRow
202 Hoppip
NewRow
203 Skiploom
NewRow
204 Jumpluff
NewRow
205 Aipom
NewRow
206 Sunkern
NewRow
207 Sunflora
NewRow
208 Yanma
NewRow
209 Wooper
NewRow
210 Quagsire
NewRow
211 Espeon
NewRow
212 Umbreon
NewRow
213 Murkrow
NewRow
214 Slowking
NewRow
215 Misdreavus
NewRow
216 Unown
NewRow
217 Wobbuffet
NewRow
218 Girafarig
NewRow
219 Pineco
NewRow
220 Forretress
NewRow
221 Dunsparce
NewRow
222 Gligar
NewRow
223 Steelix
NewRow
224 SteelixMega Steelix
NewRow
225 Snubbull
NewRow
226 Granbull
NewRow
227 Qwilfish
NewRow
228 Scizor
NewRow
229 ScizorMega Scizor
NewRow
230 Shuckle
NewRow
231 Heracross
NewRow
232 HeracrossMega Heracross
NewRow
233 Sneasel
NewRow
234 Teddiursa
NewRow
235 Ursaring
NewRow
236 Slugma
NewRow
237 Magcargo
NewRow
238 Swinub
NewRow
239 Piloswine
NewRow
240 Corsola
NewRow
241 Remoraid
NewRow
242 Octillery
NewRow
243 Delibird
NewRow
244 Mantine
NewRow
245 Skarmory
NewRow
246 Houndour
NewRow
247 Houndoom
NewRow
248 HoundoomMega Houndoom
NewRow
249 Kingdra
NewRow
250 Phanpy
NewRow
251 Donphan
NewRow
252 Porygon2
NewRow
253 Stantler
NewRow
254 Smeargle
NewRow
255 Tyrogue
NewRow
256 Hitmontop
NewRow
257 Smoochum
NewRow
258 Elekid
NewRow
259 Magby
NewRow
260 Miltank
NewRow
261 Blissey
NewRow
262 Raikou
NewRow
263 Entei
NewRow
264 Suicune
NewRow
265 Larvitar
NewRow
266 Pupitar
NewRow
267 Tyranitar
NewRow
268 TyranitarMega Tyranitar
NewRow
269 Lugia
NewRow
270 Ho-oh
NewRow
271 Celebi
NewRow
272 Treecko
NewRow
273 Grovyle
NewRow
274 Sceptile
NewRow
275 SceptileMega Sceptile
NewRow
276 Torchic
NewRow
277 Combusken
NewRow
278 Blaziken
NewRow
279 BlazikenMega Blaziken
NewRow
280 Mudkip
NewRow
281 Marshtomp
NewRow
282 Swampert
NewRow
283 SwampertMega Swampert
NewRow
284 Poochyena
NewRow
285 Mightyena
NewRow
286 Zigzagoon
NewRow
287 Linoone
NewRow
288 Wurmple
NewRow
289 Silcoon
NewRow
290 Beautifly
NewRow
291 Cascoon
NewRow
292 Dustox
NewRow
293 Lotad
NewRow
294 Lombre
NewRow
295 Ludicolo
NewRow
296 Seedot
NewRow
297 Nuzleaf
NewRow
298 Shiftry
NewRow
299 Taillow
NewRow
300 Swellow
NewRow
301 Wingull
NewRow
302 Pelipper
NewRow
303 Ralts
NewRow
304 Kirlia
NewRow
305 Gardevoir
NewRow
306 GardevoirMega Gardevoir
NewRow
307 Surskit
NewRow
308 Masquerain
NewRow
309 Shroomish
NewRow
310 Breloom
NewRow
311 Slakoth
NewRow
312 Vigoroth
NewRow
313 Slaking
NewRow
314 Nincada
NewRow
315 Ninjask
NewRow
316 Shedinja
NewRow
317 Whismur
NewRow
318 Loudred
NewRow
319 Exploud
NewRow
320 Makuhita
NewRow
321 Hariyama
NewRow
322 Azurill
NewRow
323 Nosepass
NewRow
324 Skitty
NewRow
325 Delcatty
NewRow
326 Sableye
NewRow
327 SableyeMega Sableye
NewRow
328 Mawile
NewRow
329 MawileMega Mawile
NewRow
330 Aron
NewRow
331 Lairon
NewRow
332 Aggron
NewRow
333 AggronMega Aggron
NewRow
334 Meditite
NewRow
335 Medicham
NewRow
336 MedichamMega Medicham
NewRow
337 Electrike
NewRow
338 Manectric
NewRow
339 ManectricMega Manectric
NewRow
340 Plusle
NewRow
341 Minun
NewRow
342 Volbeat
NewRow
343 Illumise
NewRow
344 Roselia
NewRow
345 Gulpin
NewRow
346 Swalot
NewRow
347 Carvanha
NewRow
348 Sharpedo
NewRow
349 SharpedoMega Sharpedo
NewRow
350 Wailmer
NewRow
351 Wailord
NewRow
352 Numel
NewRow
353 Camerupt
NewRow
354 CameruptMega Camerupt
NewRow
355 Torkoal
NewRow
356 Spoink
NewRow
357 Grumpig
NewRow
358 Spinda
NewRow
359 Trapinch
NewRow
360 Vibrava
NewRow
361 Flygon
NewRow
362 Cacnea
NewRow
363 Cacturne
NewRow
364 Swablu
NewRow
365 Altaria
NewRow
366 AltariaMega Altaria
NewRow
367 Zangoose
NewRow
368 Seviper
NewRow
369 Lunatone
NewRow
370 Solrock
NewRow
371 Barboach
NewRow
372 Whiscash
NewRow
373 Corphish
NewRow
374 Crawdaunt
NewRow
375 Baltoy
NewRow
376 Claydol
NewRow
377 Lileep
NewRow
378 Cradily
NewRow
379 Anorith
NewRow
380 Armaldo
NewRow
381 Feebas
NewRow
382 Milotic
NewRow
383 Castform
NewRow
384 Kecleon
NewRow
385 Shuppet
NewRow
386 Banette
NewRow
387 BanetteMega Banette
NewRow
388 Duskull
NewRow
389 Dusclops
NewRow
390 Tropius
NewRow
391 Chimecho
NewRow
392 Absol
NewRow
393 AbsolMega Absol
NewRow
394 Wynaut
NewRow
395 Snorunt
NewRow
396 Glalie
NewRow
397 GlalieMega Glalie
NewRow
398 Spheal
NewRow
399 Sealeo
NewRow
400 Walrein
NewRow
401 Clamperl
NewRow
402 Huntail
NewRow
403 Gorebyss
NewRow
404 Relicanth
NewRow
405 Luvdisc
NewRow
406 Bagon
NewRow
407 Shelgon
NewRow
408 Salamence
NewRow
409 SalamenceMega Salamence
NewRow
410 Beldum
NewRow
411 Metang
NewRow
412 Metagross
NewRow
413 MetagrossMega Metagross
NewRow
414 Regirock
NewRow
415 Regice
NewRow
416 Registeel
NewRow
417 Latias
NewRow
418 LatiasMega Latias
NewRow
419 Latios
NewRow
420 LatiosMega Latios
NewRow
421 Kyogre
NewRow
422 KyogrePrimal Kyogre
NewRow
423 Groudon
NewRow
424 GroudonPrimal Groudon
NewRow
425 Rayquaza
NewRow
426 RayquazaMega Rayquaza
NewRow
427 Jirachi
NewRow
428 DeoxysNormal Forme
NewRow
429 DeoxysAttack Forme
NewRow
430 DeoxysDefense Forme
NewRow
431 DeoxysSpeed Forme
NewRow
432 Turtwig
NewRow
433 Grotle
NewRow
434 Torterra
NewRow
435 Chimchar
NewRow
436 Monferno
NewRow
437 Infernape
NewRow
438 Piplup
NewRow
439 Prinplup
NewRow
440 Empoleon
NewRow
441 Starly
NewRow
442 Staravia
NewRow
443 Staraptor
NewRow

444 Bidoof
NewRow
445 Bibarel
NewRow
446 Kricketot
NewRow
447 Kricketune
NewRow
448 Shinx
NewRow
449 Luxio
NewRow
450 Luxray
NewRow
451 Budew
NewRow
452 Roserade
NewRow
453 Cranidos
NewRow
454 Rampardos
NewRow
455 Shieldon
NewRow
456 Bastiodon
NewRow
457 Burmy
NewRow
458 WormadamPlant Cloak
NewRow
459 WormadamSandy Cloak
NewRow
460 WormadamTrash Cloak
NewRow
461 Mothim
NewRow
462 Combee
NewRow
463 Vespiquen
NewRow
464 Pachirisu
NewRow
465 Buizel
NewRow
466 Floatzel
NewRow
467 Cherubi
NewRow
468 Cherrim
NewRow
469 Shellos
NewRow
470 Gastrodon
NewRow
471 Ambipom
NewRow
472 Drifloon
NewRow
473 Drifblim
NewRow
474 Buneary
NewRow
475 Lopunny
NewRow
476 LopunnyMega Lopunny
NewRow
477 Mismagius
NewRow
478 Honchkrow
NewRow
479 Glameow
NewRow
480 Purugly
NewRow
481 Chingling
NewRow
482 Stunky
NewRow
483 Skuntank
NewRow
484 Bronzor
NewRow
485 Bronzong
NewRow
486 Bonsly
NewRow
487 Mime Jr.
NewRow
488 Happiny
NewRow
489 Chatot
NewRow
490 Spiritomb
NewRow
491 Gible
NewRow
492 Gabite
NewRow
493 Garchomp
NewRow
494 GarchompMega Garchomp
NewRow
495 Munchlax
NewRow
496 Riolu
NewRow
497 Lucario
NewRow
498 LucarioMega Lucario
NewRow
499 Hippopotas
NewRow
500 Hippowdon
NewRow
501 Skorupi
NewRow
502 Drapion
NewRow
503 Croagunk
NewRow
504 Toxicroak
NewRow
505 Carnivine
NewRow
506 Finneon
NewRow
507 Lumineon
NewRow
508 Mantyke
NewRow
509 Snover
NewRow
510 Abomasnow
NewRow
511 AbomasnowMega Abomasnow
NewRow
512 Weavile
NewRow
513 Magnezone
NewRow
514 Lickilicky
NewRow
515 Rhyperior
NewRow
516 Tangrowth
NewRow
517 Electivire
NewRow
518 Magmortar
NewRow
519 Togekiss
NewRow
520 Yanmega
NewRow
521 Leafeon
NewRow
522 Glaceon
NewRow
523 Gliscor
NewRow
524 Mamoswine
NewRow
525 Porygon-Z
NewRow
526 Gallade
NewRow
527 GalladeMega Gallade
NewRow
528 Probopass
NewRow
529 Dusknoir
NewRow
530 Froslass
NewRow
531 Rotom
NewRow
532 RotomHeat Rotom
NewRow
533 RotomWash Rotom
NewRow
534 RotomFrost Rotom
NewRow
535 RotomFan Rotom
NewRow
536 RotomMow Rotom
NewRow
537 Uxie
NewRow
538 Mesprit
NewRow
539 Azelf
NewRow
540 Dialga
NewRow
541 Palkia
NewRow
542 Heatran
NewRow
543 Regigigas
NewRow
544 GiratinaAltered Forme
NewRow
545 GiratinaOrigin Forme
NewRow
546 Cresselia
NewRow
547 Phione
NewRow
548 Manaphy
NewRow
549 Darkrai
NewRow
550 ShayminLand Forme
NewRow
551 ShayminSky Forme
NewRow
552 Arceus
NewRow
553 Victini
NewRow
554 Snivy
NewRow
555 Servine
NewRow
556 Serperior
NewRow
557 Tepig
NewRow
558 Pignite
NewRow
559 Emboar
NewRow
560 Oshawott
NewRow
561 Dewott
NewRow
562 Samurott
NewRow
563 Patrat
NewRow
564 Watchog
NewRow
565 Lillipup
NewRow
566 Herdier
NewRow
567 Stoutland
NewRow
568 Purrloin
NewRow
569 Liepard
NewRow
570 Pansage
NewRow
571 Simisage
NewRow
572 Pansear
NewRow
573 Simisear
NewRow
574 Panpour
NewRow
575 Simipour
NewRow
576 Munna
NewRow
577 Musharna
NewRow
578 Pidove
NewRow
579 Tranquill
NewRow
580 Unfezant
NewRow
581 Blitzle
NewRow
582 Zebstrika
NewRow
583 Roggenrola
NewRow
584 Boldore
NewRow
585 Gigalith
NewRow
586 Woobat
NewRow
587 Swoobat
NewRow
588 Drilbur
NewRow
589 Excadrill
NewRow
590 Audino
NewRow
591 AudinoMega Audino
NewRow
592 Timburr
NewRow
593 Gurdurr
NewRow
594 Conkeldurr
NewRow
595 Tympole
NewRow
596 Palpitoad
NewRow
597 Seismitoad
NewRow
598 Throh
NewRow
599 Sawk
NewRow
600 Sewaddle
NewRow
601 Swadloon
NewRow
602 Leavanny
NewRow
603 Venipede
NewRow
604 Whirlipede
NewRow
605 Scolipede
NewRow
606 Cottonee
NewRow
607 Whimsicott
NewRow
608 Petilil
NewRow
609 Lilligant
NewRow
610 Basculin
NewRow
611 Sandile
NewRow
612 Krokorok
NewRow
613 Krookodile
NewRow
614 Darumaka
NewRow
615 DarmanitanStandard Mode
NewRow
616 DarmanitanZen Mode
NewRow
617 Maractus
NewRow
618 Dwebble
NewRow
619 Crustle
NewRow
620 Scraggy
NewRow
621 Scrafty
NewRow
622 Sigilyph
NewRow
623 Yamask
NewRow
624 Cofagrigus
NewRow
625 Tirtouga
NewRow
626 Carracosta
NewRow
627 Archen
NewRow
628 Archeops
NewRow
629 Trubbish
NewRow
630 Garbodor
NewRow
631 Zorua
NewRow
632 Zoroark
NewRow
633 Minccino
NewRow
634 Cinccino
NewRow
635 Gothita
NewRow
636 Gothorita
NewRow
637 Gothitelle
NewRow
638 Solosis
NewRow
639 Duosion
NewRow
640 Reuniclus
NewRow
641 Ducklett
NewRow
642 Swanna
NewRow
643 Vanillite
NewRow
644 Vanillish
NewRow
645 Vanilluxe
NewRow
646 Deerling
NewRow
647 Sawsbuck
NewRow
648 Emolga
NewRow
649 Karrablast
NewRow
650 Escavalier
NewRow
651 Foongus
NewRow
652 Amoonguss
NewRow
653 Frillish
NewRow
654 Jellicent
NewRow
655 Alomomola
NewRow
656 Joltik
NewRow
657 Galvantula
NewRow
658 Ferroseed
NewRow
659 Ferrothorn
NewRow
660 Klink
NewRow
661 Klang
NewRow
662 Klinklang
NewRow
663 Tynamo
NewRow
664 Eelektrik
NewRow
665 Eelektross
NewRow
666 Elgyem
NewRow
667 Beheeyem
NewRow
668 Litwick
NewRow
669 Lampent
NewRow
670 Chandelure
NewRow
671 Axew
NewRow
672 Fraxure
NewRow
673 Haxorus
NewRow
674 Cubchoo
NewRow
675 Beartic
NewRow
676 Cryogonal
NewRow
677 Shelmet
NewRow
678 Accelgor
NewRow
679 Stunfisk
NewRow
680 Mienfoo
NewRow
681 Mienshao
NewRow
682 Druddigon
NewRow
683 Golett
NewRow
684 Golurk
NewRow
685 Pawniard
NewRow
686 Bisharp
NewRow
687 Bouffalant
NewRow
688 Rufflet
NewRow
689 Braviary
NewRow
690 Vullaby
NewRow
691 Mandibuzz
NewRow
692 Heatmor
NewRow
693 Durant
NewRow
694 Deino
NewRow
695 Zweilous
NewRow
696 Hydreigon
NewRow
697 Larvesta
NewRow
698 Volcarona
NewRow
699 Cobalion
NewRow
700 Terrakion
NewRow
701 Virizion
NewRow
702 TornadusIncarnate Forme
NewRow
703 TornadusTherian Forme
NewRow
704 ThundurusIncarnate Forme
NewRow
705 ThundurusTherian Forme
NewRow
706 Reshiram
NewRow
707 Zekrom
NewRow
708 LandorusIncarnate Forme
NewRow
709 LandorusTherian Forme
NewRow
710 Kyurem
NewRow
711 KyuremBlack Kyurem
NewRow
712 KyuremWhite Kyurem
NewRow
713 KeldeoOrdinary Forme
NewRow
714 KeldeoResolute Forme
NewRow
715 MeloettaAria Forme
NewRow
716 MeloettaPirouette Forme
NewRow
717 Genesect
NewRow
718 Chespin
NewRow
719 Quilladin
NewRow
720 Chesnaught
NewRow
721 Fennekin
NewRow
722 Braixen
NewRow
723 Delphox
NewRow
724 Froakie
NewRow
725 Frogadier
NewRow
726 Greninja
NewRow
727 Bunnelby
NewRow
728 Diggersby
NewRow
729 Fletchling
NewRow
730 Fletchinder
NewRow
731 Talonflame
NewRow
732 Scatterbug
NewRow
733 Spewpa
NewRow
734 Vivillon
NewRow
735 Litleo
NewRow
736 Pyroar
NewRow
737 Flabébé
NewRow
738 Floette
NewRow
739 Florges
NewRow
740 Skiddo
NewRow
741 Gogoat
NewRow
742 Pancham
NewRow
743 Pangoro
NewRow
744 Furfrou
NewRow
745 Espurr
NewRow
746 MeowsticMale
NewRow
747 MeowsticFemale
NewRow
748 Honedge
NewRow
749 Doublade
NewRow
750 AegislashBlade Forme
NewRow
751 AegislashShield Forme
NewRow
752 Spritzee
NewRow
753 Aromatisse
NewRow
754 Swirlix
NewRow
755 Slurpuff
NewRow
756 Inkay
NewRow
757 Malamar
NewRow
758 Binacle
NewRow
759 Barbaracle
NewRow
760 Skrelp
NewRow
761 Dragalge
NewRow
762 Clauncher
NewRow
763 Clawitzer
NewRow
764 Helioptile
NewRow
765 Heliolisk
NewRow
766 Tyrunt
NewRow
767 Tyrantrum
NewRow
768 Amaura
NewRow
769 Aurorus
NewRow
770 Sylveon
NewRow
771 Hawlucha
NewRow
772 Dedenne
NewRow
773 Carbink
NewRow
774 Goomy
NewRow
775 Sliggoo
NewRow
776 Goodra
NewRow
777 Klefki
NewRow
778 Phantump
NewRow
779 Trevenant
NewRow
780 PumpkabooAverage Size
NewRow
781 PumpkabooSmall Size
NewRow
782 PumpkabooLarge Size
NewRow
783 PumpkabooSuper Size
NewRow
784 GourgeistAverage Size
NewRow
785 GourgeistSmall Size
NewRow
786 GourgeistLarge Size
NewRow
787 GourgeistSuper Size
NewRow
788 Bergmite
NewRow
789 Avalugg
NewRow
790 Noibat
NewRow
791 Noivern
NewRow
792 Xerneas
NewRow
793 Yveltal
NewRow
794 Zygarde50% Forme
NewRow
795 Diancie
NewRow
796 DiancieMega Diancie
NewRow
797 HoopaHoopa Confined
NewRow
798 HoopaHoopa Unbound
NewRow
799 Volcanion
NewRow

## Sorting/Describing Data

Let's try to sort the dataset using two columns in an ascending way w.r.t. Type 1 and descending way w.r.t. HP:

In [19]:
df.sort_values(['Type 1', 'HP'], ascending=[1,0])

,index,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

## Making changes to the data

__To create a new column__ called 'Total':

In [20]:
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

In [15]:
df.iloc[0,:]

#                  1
Type 1         Grass
Type 2        Poison
HP                45
Attack            49
Defense           49
Sp. Atk           65
Sp. Def           65
Speed             45
Generation         1
Legendary      False
Total            318
Name: Bulbasaur, dtype: object

In [9]:
45+49+49+65+65+45

318

If we want to remove this column in a different way than before we use <code>dataframe.drop</code>

In [16]:
df = df.drop(columns=['Total'])

To select some columns with a number:

In [3]:
cols = list(df.columns)
df = df[cols[0:4] + [cols[-1]]+cols[4:12]]

df.head(5)

,#,Name,Type 1,Type 2,Legendary,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,False,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,False,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,False,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,False,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,False,39,52,43,60,50,65,1,False

## Saving our Data (Exporting into Desired Format)

Writing a csv file:

In [ ]:
df.to_csv('modified.csv', index=False)

Writing to an excel file

In [ ]:
df.to_excel('modified.xlsx', index=False)

Writing a txt file:

In [59]:
df.to_csv('modified.txt', index=False, sep='\t')

## Filtering Data

Maybe we want to select all the Pokémon with first type 'Grass' and the second one 'Poison':

In [12]:
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]

It's very important to put the bracket!

## Aggregate Statistics (Groupby)

We can also do some calculations by groups using <code>groupby</code>.

For example, to count the number of elements in a certain class:

In [31]:
df['count'] = 1

df.groupby(['Type 1', 'Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64

If we want to compute the mean speed by Type 1:

In [19]:
df.groupby(['Type 1']).Speed.mean()

Type 1
Bug          61.681159
Dark         76.161290
Dragon       83.031250
Electric     84.500000
Fairy        48.588235
Fighting     66.074074
Fire         74.442308
Flying      102.500000
Ghost        64.343750
Grass        61.928571
Ground       63.906250
Ice          63.458333
Normal       71.551020
Poison       63.571429
Psychic      81.491228
Rock         55.909091
Steel        55.259259
Water        65.964286
Name: Speed, dtype: float64

## Merge & Concatenation

Let's try to do some data manipulation to join and binding our data.

Let's split our dataset in two part w.r.t. the columns:

In [21]:
df.reset_index(inplace = True)

In [22]:
df.shape

(800, 15)

In [23]:
df.columns

Index(['level_0', 'index', '#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack',
       'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary',
       'Total'],
      dtype='object')

Let's create two dataset that we merge next:

In [24]:
df1 = df.loc[:, "Attack":"Total"].copy()
df1["Name"] = df["Name"].copy()
df2 = df.loc[:, "#":"HP"].copy()
df2["Name"] = df["Name"].copy()

In [25]:
print(df1.shape)
print(df2.shape)

(800, 9)
(800, 5)

To merge two datasets we can use the method associated:

In [26]:
df1 = df1.merge(df2, how = "left", on = "Name")

In [27]:
df1.columns

Index(['Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation',
       'Legendary', 'Total', 'Name', '#', 'Type 1', 'Type 2', 'HP'],
      dtype='object')

In [28]:
df1.shape

(800, 13)

Let's create two dataset that we concatenate next:

In [35]:
df1 = df.iloc[0:400, ].copy()
df2 = df.iloc[400:,].copy()
print(df1.shape)
print(df2.shape)

(400, 15)
(400, 15)

In [36]:
dfConc = pd.concat([df1, df2])
print(dfConc.shape)

(800, 15)